:root{
    --space-unit: 1.6em;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: hsl(0, 0%, 98%);
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    color: hsl(229, 6%, 66%);
    line-height: 1.5;
}
.header{
    margin-bottom: var(--space-xl);
    max-width: 54rem;
    text-align: center;
}
h1,
span{
    font-size: clamp(2.4rem, 1.97746rem + 1.1268vi, 3.6rem);
    color: hsl(234, 12%, 34%);
}
h1{
    font-weight: 200;
    padding:0 0 .8rem 0;        
    margin-top: 2rem;
}
h1 span{
    font-weight: 500;
}
.header-text{
    font-size: 1.5rem;
    margin-top: var(--space-xs);
    font-weight: 300;
    line-height: 1.75;
}
.main{
    margin: var(--space-xl) var(--space-lg);
    display: grid;
    place-items: center;
}
.section-cards{
    display: grid;
    gap: var(--space-lg);
}
.left,
.centerT,
.centerB,
.right{
    max-width:35rem;
    border-radius: .5rem;
    background-color: #ffffff;
    padding: var(--space-lg);
    box-shadow: 0 1.8rem 1.8rem rgba(84, 158, 242, 0.086);
    position: relative;
}
.left{
    border-top: .3rem solid hsl(180, 62%, 55%);
}
.centerT{
    border-top: .3rem solid hsl(0, 78%, 62%);
}
.centerB{
    border-top: .3rem solid hsl(34, 97%, 64%);
}
.right{
    border-top: .3rem solid hsl(212, 86%, 64%);
}
h2{
    color: hsl(234, 12%, 34%);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.section-cards p{
    font-size: 1.3rem;
    font-weight: 300;
}
.icon {
    display: block;
    margin: var(--space-lg) 0 0 auto;
    width: 5.7rem;
    height: 5.7rem;
}
@media (min-width: 50em){
    .section-cards{
        display: grid;
        grid-template-areas:
        ". . t t . ."
        "l l t t r r"
        "l l b b r r"
        ". . b b . .";
    }
    .left{
        grid-area: l;
    }
    .centerT{
        grid-area: t;
    }
    .centerB{
        grid-area: b;
    }
    .right{
        grid-area: r;
    }
}